
/* Responsive layout for smaller screens */
@media (max-width: 600px) {
  body {
    height: auto
  }
  .navbar {
    align-items: center;
  }

  .navbar .navbar-item {
    font-size: 24px; /* Ensure this font size applies */
    padding: 8px 15px;
    margin-bottom: 5px;
  }

  .logo {
    display: flex;
    width: 180px; /* Adjust logo size */
    margin-bottom: 15px; /* Add space below the logo */
  }

  .container {
    padding: 10px; /* Adjust padding on smaller screens */
    margin: 5px; /* Reduce margin */
    width: 90%; /* Make container fit within the screen */
  }
}


/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

/* Reusable container style */
.container {
  max-width: 800px;
  width: 100%; /* Ensure it doesn't exceed the body width on smaller screens */
  padding: 20px;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 250px;
  height: auto;
  margin: 0 auto;
}

/* Navbar logo styling */
.navbar {
  padding: 20px;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* Adjusts links and logo */
  align-items: center;
}

.navbar-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #fff;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Custom font and styles for the Markdown content */
#content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Style headings from the Markdown */
#content h1, #content h2, #content h3 {
  font-weight: 700;
}

/* Style links in the content */
#content a {
  color: #007bff;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

.love {
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  margin-top: 33px;
  display: block;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.contact {
  font-style: italic;
  font-weight: bolder;
}

.letter {
  font-size: 30px;
}


